<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-style: italic;">List of Designations</h1>
    <table>
        <thead>
            <th>Designation</th>
            <th>Engin</th>
            <th>Code</th>
            <th>Date</th>
        </thead>
        {% for des in desi %}
        <tbody>
            <td>{{des.desi_name}}</td>
            <td>{{des.eng_name.name}}</td>
            <td>{{des.eng_name.code}}</td>
            <td>{{des.desi_date}}</td>
        </tbody>        
        {% endfor %}
    </table>
</body>
</html>